<div class="center">
    <app-responsive-area>
        <ion-img class="icon" src="/assets/icon.svg"></ion-img>
        <p>
            HWYD?
        </p>
        <ion-row align-items-center>
            <ion-col align-self-center>
                <ion-button shape="round" type="button" expand="full" (click)="goToSignup()">
                    <span>SIGNUP</span>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col align-self-center>
                <ion-button shape="round" type="button" fill="outline" expand="full" (click)="goToSignin()">
                    <span>SIGNIN</span>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row align-items-center>
            <ion-col align-self-center>
                <ion-button shape="round" type="button" fill="outline" expand="full" (click)="goToHome()">
                    <span>REDIRECT</span>
                </ion-button>
            </ion-col>
        </ion-row>
    </app-responsive-area>
</div>
