<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab One
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <app-responsive-area>
        <app-period></app-period>
        <ion-spinner *ngIf="loading$ | async"></ion-spinner>
        <ion-card *ngFor="let e of list$ | async">
            <ion-item lines="none">
                <ion-avatar slot="start">
                    <fa-icon [icon]="['far', (e.mood.icon | moodIcon)]"
                             size="2x" [ngStyle]="{color: e.mood.color}"></fa-icon>
                </ion-avatar>
                <ion-label>
                    <ion-card-title>{{e.mood.name}}</ion-card-title>
                    <div class="activities-description">
                        <ion-chip *ngFor="let a of e.activities">
                            <ion-avatar><img src="/assets/icons_activities/{{a.icon | activityIcon}}"
                                             /></ion-avatar>
                            <ion-label>{{a.name}}</ion-label>
                        </ion-chip>
                    </div>
                </ion-label>
            </ion-item>
            <ion-card-content>
                <p>{{e.notes}}</p>
            </ion-card-content>
        </ion-card>
    </app-responsive-area>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
