<ion-header no-border>
    <app-period></app-period>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <app-responsive-area>
        <ion-spinner *ngIf="loading$ | async"></ion-spinner>
        <ion-card *ngFor="let e of list$ | async" (click)="editEntry(e)">
            <ion-item lines="none">
                <fa-icon [icon]="['far', (e.mood.icon | moodIcon)]" size="2x" class="ion-padding-top ion-padding-end"
                         [ngStyle]="{color: e.mood.color}"></fa-icon>
                <h2>{{e.mood.name}}</h2>
                <div slot="end">
                    <p color="medium" class="date-card ion-text-end">{{e.date.toDate() | date:'d, EEE'}}</p>
                </div>
            </ion-item>
            <ion-card-content>
                <ion-chip *ngFor="let a of e.activities">
                    <ion-avatar><img src="/assets/icons_activities/{{a.icon | activityIcon}}"
                    /></ion-avatar>
                    <ion-label>{{a.name}}</ion-label>
                </ion-chip>
                <p>{{e.notes}}</p>
            </ion-card-content>
        </ion-card>
    </app-responsive-area>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
