.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.activities-description{
  display: inline;
}

ion-chip ion-label{
  font-size: 12px;
}

.date-card{
  color: gray;
  font-size: 12px;
  margin-block-start: 0;
}

ion-chip{
  height: 24px;
}
