/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

[type=radio] + fa-icon {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

/* HIDE RADIO */
[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.select-icon{
  font-size: 10px;
  text-align: center;
  height: 48px;
  span {
    display: block;
  }
}

/* IMAGE STYLES */
[type=checkbox] + .select-icon {
  cursor: pointer;
  opacity: 0.5;
}

/* CHECKED STYLES */
[type=checkbox]:checked + .select-icon {
  outline: 6px solid var(--ion-color-light-shade);
  background: var(--ion-color-light-shade);
  opacity: 1;
}
