<ng-container *ngIf="entry$ | async as entry">
  <ion-header no-border>
    <ion-toolbar class="transparent-toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{entry.id ? 'Edit' : 'Create'}} Entry</ion-title>
      <ion-buttons slot="end">
        <ion-spinner *ngIf="loadingSave$ | async"></ion-spinner>
        <ion-button (click)="save()" *ngIf="!(loadingSave$ | async)" [disabled]="!form.valid">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <form [formGroup]="form" [appConnectForm]="entry">
      <!--<ion-item>-->
        <!--<ion-label position="floating">Date</ion-label>-->
        <!--<ion-datetime formControlName="date" display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY"></ion-datetime>-->
      <!--</ion-item>-->

      <!--<li-ionic4-datepicker formControlName="date"-->
                            <!--[inputDateConfig]="datePickerObj"></li-ionic4-datepicker>-->
      <ion-item inset>
        <ion-label position="floating">Date:</ion-label>
        <ion-datetime formControlName="entryDate"></ion-datetime>
      </ion-item>

      <div class="ion-text-center ion-padding-top">
        <h2>What's your mood?</h2>
      </div>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col *ngFor="let mood of moods$ | async" sizeMd="1" sizeSm="2" sizeXs="2" align-self-center>
            <label>
              <input [id]="mood.id" type="radio" [value]="mood" formControlName="mood">
              <fa-icon slot="start" [icon]="[form.controls['mood'].value === mood ?'fas':'far', (mood.icon | moodIcon)]"
                       size="2x" [ngStyle]="{opacity: form.controls['mood'].value === mood ? '1' : '0.5', color: mood.color}"></fa-icon>
            </label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="ion-text-center">
        <h3>{{form.controls['mood']?.value?.name}}</h3>
      </div>

      <ion-grid *ngIf="form.controls['mood'].value">
        <div class="ion-text-center ion-padding-top">
          <h2>what activities did you do?</h2>
        </div>
        <ion-row justify-content-center>
          <ng-container *ngIf="activities$ | async as activities">
          <ion-col *ngFor="let a of form.controls['activities'].controls; let i = index"  sizeSm="2" sizeXs="3" align-self-center>
            <label formArrayName="activities">
              <input [id]="a.id" type="checkbox" [value]="a.id" [formControlName]="i" />
              <div class="select-icon">
                <img src="/assets/icons_activities/{{activities[i].icon | activityIcon}}" style="width: 24px; height: 24px"/>
                <span>{{activities[i].name}}</span>
              </div>
            </label>
          </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>

    </form>
  </ion-content>
</ng-container>
