<ng-container *ngIf="entry$ | async as entry">
  <ion-header no-border>
    <ion-toolbar class="transparent-toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{entry.id ? 'Edit' : 'Create'}} Entry</ion-title>
      <ion-buttons slot="end">
        <ion-spinner *ngIf="loadingSave$ | async"></ion-spinner>
        <ion-button (click)="save()" *ngIf="!(loadingSave$ | async)" [disabled]="!form.valid">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <form [formGroup]="form" [appConnectForm]="entry">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col *ngFor="let m of moods$ | async" sizeMd="1" sizeSm="2" sizeXs="2" align-self-center>
            <label>
              <input [id]="m.id" type="radio" [value]="m" formControlName="mood">
              <fa-icon slot="start" [icon]="[form.controls['mood'].value === m ?'far':'fas', (m.icon | moodIcon)]"
                       size="2x" [ngStyle]="{color: m.color}"></fa-icon>
            </label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="form.controls['mood'].value">
        <ion-row justify-content-center>
          <ng-container *ngIf="activities$ | async as activities">
          <ion-col *ngFor="let a of form.controls['activities'].controls; let i = index" sizeMd="1" sizeSm="2" sizeXs="2" align-self-center>
            <label formArrayName="activities">
              {{activities[i].name}}
              <input [id]="a.id" type="checkbox" [value]="a.id" [formControlName]="i">
              <img src="/assets/icons_activities/{{activities[i].icon | activityIcon}}" style="width: 24px; height: 24px"/>
            </label>
          </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>

    </form>
  </ion-content>
</ng-container>
