<ion-header no-border>
    <ion-toolbar class="transparent-toolbar">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home/tabs/settings"></ion-back-button>
        </ion-buttons>
        <ion-title>Moods</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <app-responsive-area>
        <ion-list>
            <ion-reorder-group disabled="false" (ionItemReorder)="moveMood($event)">
                <ion-spinner *ngIf="loading$ | async"></ion-spinner>
                <ion-item *ngFor="let m of list$ | async" (click)="editMood(m)">
                    <fa-icon slot="start" [icon]="['far', (m.icon | moodIcon)]"
                             size="2x" [ngStyle]="{color: m.color}"></fa-icon>
                    <ion-label>{{m.name}}</ion-label>
                    <ion-reorder slot="end"></ion-reorder>
                </ion-item>
            </ion-reorder-group>
        </ion-list>
    </app-responsive-area>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
