.period-name{
  text-align: center;
  padding-top: 8px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -.03em;
  text-align: center;
}
.period {
  width: 100%;
  text-align: center;
}

ion-icon{
  font-size: 32px;
}

.title-info {
  p {
    display: inline;
  }
  border-top: 0;
}

.period-info {
  display: inline;
  p {
    display: inline;
    font-size: 10px;

  }
}
