<ion-header no-border>
    <app-responsive-area>
        <ion-toolbar class="transparent-toolbar" mode="ios">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/home/tabs/settings"></ion-back-button>
            </ion-buttons>
            <ion-title>Activities</ion-title>
        </ion-toolbar>
    </app-responsive-area>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <app-responsive-area>
        <ion-list>
            <ion-spinner *ngIf="loading$ | async"></ion-spinner>
            <ion-item *ngFor="let a of list$ | async" (click)="editActivity(a)">
                <img slot="start" src="/assets/icons_activities/{{a.icon | activityIcon}}"
                     style="width: 24px; height: 24px"/>
                {{a.name}}
            </ion-item>
        </ion-list>
    </app-responsive-area>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
