// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.login-logo {
  width: 100px;
}

.transparent-toolbar {
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
}

.hint, .error-hint {
  color: gray;
  font-size: 12px;
  min-height: 16px;
  padding-top: 8px;
}

.error-hint {
  color: #d50000;
}

.label-floating.sc-ion-label-md-h {
  color: #999;
}

.subtitle1{
  font-size: 1rem;
}
